@model TMDT.Models.Address
@using TMDT.Models
@{
    ViewBag.Title = "LocaDetail";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}

<link href="~/Areas/KhachHang/assets/css/myInfor.css" rel="stylesheet" />
<div class="col-sm-12 col-md-9 col-lg-9">
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Địa chỉ giao hàng</div>
                    <div class="card-body">
                        <form>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputUsername">Họ </label>
                                    <input class="form-control" id="inputUsername" type="text" value="@Model.firstName" readonly>

                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPass">Tên</label>
                                    <input class="form-control" id="inputPass" type="text" value="@Model.lastName" readonly>

                                </div>


                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputName">Địa chỉ</label>
                                    <input class="form-control" id="inputName" type="text" value="@Model.address1" readonly>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputDateOfBirth">Ghi Chú</label>
                                    <input class="form-control" id="inputDateOfBirth" type="text" value="@Model.note" readonly>
                                </div>


                            </div>
                            <!-- Form Group (email address)-->


                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmail">Mail:</label>
                                    <input class="form-control" id="inputEmail" type="email" value="@Model.User.gmail" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Số Điện thoại</label>
                                    <input class="form-control" id="inputPhone" type="text" value="@Model.numberPhone" readonly>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>

        <style>
            .button-container {
                text-align: right; /* Đặt nút bấm bên phải */
                margin-top: 10px; /* Thêm khoảng cách phía trên nút bấm (tùy chọn) */
            }

            .button-style {
                display: inline-block;
                padding: 10px 20px;
                background-color: #d19797; /* Màu nền của nút */
                color: #fff; /* Màu chữ trắng */
                text-align: center;
                text-decoration: none;
                border: none;
                border-radius: 4px; /* Bo tròn viền */
                cursor: pointer;
                transition: background-color 0.3s; /* Hiệu ứng màu nền thay đổi khi hover */
            }

                .button-style:hover {
                    background-color: #a27070; /* Màu nền khi hover */
                    color: #71706f;
                }
        </style>


        <div class="button-container">
            @Html.ActionLink("Edit", "LocaEdit", new { id = Model.addressID }, new { @class = "button-style" })

        </div>

    </p>



</div>
