@model IEnumerable<TMDT.Models.Order>
@using TMDT.Models;

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";

}

<div class="col-sm-12 col-md-9 col-lg-9">
    <h2>OrderList</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numberPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.fullName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition.nameCon)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numberPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.fullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.nameCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
       
        <td>    

            @Html.ActionLink("Details", "Details", new { id = item.orderID }) |

        </td>
    </tr>
        }

    </table>
</div>
  
