@model TMDT.Models.Order

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}

<div class="col-sm-12 col-md-9 col-lg-9">
    <h2>OrderDetail</h2>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.numberPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numberPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.datetime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datetime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.conditionID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.conditionID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employeeID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.employeeID)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
    