@model TMDT.Models.Order
@using TMDT.Models
@{
    ViewBag.Title = "Review";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}
<div class="col-sm-12 col-md-9 col-lg-9">
    
        <div class="row">
            <div class="col-md-6">
                <div class="order-info">
                    <h4>Order Information</h4>
                  
                    <dl class="dl-horizontal">

                   


                        <dt>Gmail</dt>
                        <dd>@Html.DisplayFor(model => model.User.gmail)</dd>
                        <dt>
                            Ghi Chú
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.note)
                        </dd>
                        <dt>
                            Giá
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.total)
                        </dd>
                        <dt>
                            Địa chỉ
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.fullAddress)
                        </dd>
                        <dt>
                            Nhân viên
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Employees.FirstName)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-6">
                <div class="submit-review">
                    <h4>Submit Review</h4>

                    @using (Html.BeginForm("SubmitReview", "NguoiDung", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.orderID) <!-- Truyền OrderId ẩn đi -->

                        <div class="form-group">
                            <label for="star">Đánh giá:</label>
                            @Html.DropDownListFor(model => model.star, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", required = "required" })
                        </div>

                        <div class="form-group">
                            <label for="comment">Bình Luận:</label>
                            @Html.TextAreaFor(model => model.comment, new { @class = "form-control", required = "required" })
                        </div>

                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <style>

     
        /* Phần Order Information */
        .order-info {
            background-color: #fcd8d8;
            margin-bottom: 20px;
            border-radius: 5px;
            padding:10px;
        }

            .order-info h4 {
                color: #333;
                font-weight: bold;
                padding-top: 10px;
                text-align:center;
            }

            .order-info dl {
                margin-bottom: 0;
            }

                .order-info dl dt {
                    font-weight: bold;
                    margin-top: 10px;
                }

                .order-info dl dd {
                    margin-bottom: 10px;
                }

        /* Phần Submit Review */
        .submit-review {
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            background-color: #ffcdcd;
            box-shadow: 1px 4px 3px rgb(255 136 136 / 61%); /* Thêm shadow */
        }

            .submit-review h4 {
                color: #333;
                font-weight: bold;
                margin-top: 0;
            }

            .submit-review hr {
                border-top: 1px solid #ccc;
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .submit-review .form-group {
                margin-bottom: 20px;
            }

    </style>
