@model TMDT.Models.Order
@using TMDT.Models
@{
    ViewBag.Title = "Review";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}

<h2>Review</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.star)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.star)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition.nameCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition.nameCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.gmail)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("SubmitReview", "NguoiDung", FormMethod.Post))
{
    @Html.HiddenFor(model => model.orderID) <!-- Truyền OrderId ẩn đi -->

    <div class="form-group">
        <label for="star">Star:</label>
        @Html.DropDownListFor(model => model.star, Enumerable.Range(1, 5).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        <label for="comment">Comment:</label>
        @Html.TextAreaFor(model => model.comment, new { @class = "form-control", required = "required" })
    </div>

    <button type="submit" class="btn btn-primary">Submit Review
    </button>
}