@model TMDT.Models.User
@using TMDT.Models;
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}



<link href="~/Areas/KhachHang/assets/css/myInfor.css" rel="stylesheet" />


<div class="col-sm-12 col-md-9 col-lg-9">
    <div class="container-xl px-4 mt-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Ảnh đại diện</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img id="myImg" class="img-account-profile rounded-circle mb-2" src="~/hinh/ka-img.jpg" alt="your image">

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin</div>
                    <div class="card-body">
                        <form>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputUsername">Tên tài khoản: </label>
                                    <input class="form-control" id="inputUsername" type="text" value="@Model.numberPhone" readonly>

                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPass">Password:</label>
                                    <input class="form-control" id="inputPass" type="text" value="" readonly>
                                </div>


                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputName">Họ và tên:</label>
                                    <input class="form-control" id="inputName" type="text" value="" readonly>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputDateOfBirth">Ngày sinh:</label>
                                    <input class="form-control" id="inputDateOfBirth" type="text" value="" readonly>
                                </div>


                            </div>
                            <!-- Form Group (email address)-->


                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmail">Email:</label>
                                    <input class="form-control" id="inputEmail" type="email" value="" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="text" value="" readonly>
                                </div>
                            </div>
                            @*<button class="btn btn-outline-primary" type="button"> @Html.ActionLink("View Details", "EditMyInfor", new { id = Model.IDNV })</button>*@

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permission)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
