@model TMDT.Models.User
@using TMDT.Models;
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}



<link href="~/Areas/KhachHang/assets/css/myInfor.css" rel="stylesheet" />
<div class="col-sm-12 col-md-9 col-lg-9">
    <h2 style="color:#ad6868">Thông tin cá nhân</h2>
    <div class="container-xl px-4 mt-4">
        <div class="row">

            <div class="col-xl-12">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin</div>
                    <div class="card-body">
                        <form>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputUsername">Tên tài khoản: </label>
                                    <input class="form-control" id="inputUsername" type="text" value="@Model.numberPhone" readonly>

                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPass">Password:</label>
                                    <input class="form-control" id="inputPass" type="text" value="@Model.password" readonly>
                                    <span class="toggle-password"></span>
                                </div>


                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputName">Họ và tên:</label>
                                    <input class="form-control" id="inputName" type="text" value="@Model.fullName" readonly>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputDateOfBirth">Ngày sinh:</label>
                                    <input class="form-control" id="inputDateOfBirth" type="text" value="@Model.bDay" readonly>
                                </div>


                            </div>
                            <!-- Form Group (email address)-->


                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmail">Email:</label>
                                    <input class="form-control" id="inputEmail" type="email" value="@Model.gmail" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="text" value="@Model.numberPhone" readonly>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div >
                @Html.ActionLink("Chỉnh sửa", "UserEdit", new { id = Model.numberPhone }, new { @class = "btn btn-primary" })

            </div>
        </div>
       
    </div>


</div>


<style>

    .container-xl {
        background-color: #ffb2b280;
        padding-top: 15px;
        padding-bottom:50px
    }
    .btn {
        float: right
    }
  

</style>




