@model TMDT.Models.User
@using TMDT.Models;

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";

    string giaTienFormatted = string.Format("{0:0}", Model.DiemTichLuy);
}



<link href="~/Areas/KhachHang/assets/css/myInfor.css" rel="stylesheet" />
<div class="col-sm-12 col-md-10 col-lg-10">
    <h2 style="color:#ad6868">Thông tin cá nhân</h2>
    <div class="container-xl px-4 mt-4">
        <div class="row">

            <div class="col-xl-12">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin</div>
                    <div class="card-body">
                        <form>

                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="user-image">
                                        @if (Model.userpic != null)
                                        {
                                            <img src="@Url.Content(Model.userpic)" alt="Hình ảnh người dùng" />
                                        }
                                        else
                                        {
                                            <img src="" alt="Hình ảnh người dùng" />
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="small mb-1" for="inputUsername">Tên tài khoản: </label>
                                    <input class="form-control" id="inputUsername" type="text" value="@Model.numberPhone" readonly>
                                    <label class="small mb-1" for="inputPass">Password:</label>
                                    <input class="form-control" id="inputPass" type="text" value="@Model.password" readonly>
                                    <span class="toggle-password"></span>
                                </div>


                                <div class="col-md-3">
                                    <label class="small mb-1" for="inputName">Họ và tên:</label>
                                    <input class="form-control" id="inputName" type="text" value="@Model.fullName" readonly>
                                    <label class="small mb-1" for="inputDateOfBirth">Ngày sinh:</label>
                                    <input class="form-control" id="inputDateOfBirth" type="text" value="@Model.bDay" readonly>
                                </div>


                                <div class="col-md-3">
                                    <label for="inputEmail">Email:</label>
                                    <input class="form-control" id="inputEmail" type="email" value="@Model.gmail" readonly>
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="text" value="@Model.numberPhone" readonly>
                                </div>

                                <div class="col-md-3">

                                    <label class="small mb-1" for="inputEmail">Điểm tích lũy: </label>
                                    @if (Model.DiemTichLuy == null || Model.DiemTichLuy == 0)
                                    {
                                        <input class="form-control" id="inputPhone" type="text" value="0" readonly>
                                    }
                                    else
                                    {
                                        <input class="form-control" id="inputPhone" type="text" value="@giaTienFormatted" readonly>
                                    }

                                    <label class="small mb-1" for="inputEmail">Hạng Khách hàng: </label>
                                    @if (Model.DiemTichLuy == null || Model.DiemTichLuy == 0)
                                    {
                                        <div class="row">
                                            <p class="small mb-1"><strong> Khách hàng mới <i class="fa-solid fa-person"></i></strong> </p>
                                        </div>
                                    }
                                    else
                                    {
                                        if (Model.DiemTichLuy <= 200)
                                        {
                                            <div class="row">
                                                <p class="small mb-1"><strong> Khách hàng thân thiết<i class="fa-solid fa-users"></i></strong> </p>
                                            </div>

                                        }
                                        else if (Model.DiemTichLuy <= 500)
                                        {
                                            <div class="row">
                                                <p class="small mb-1"><strong> Khách hàng hạng bạc </strong> </p>
                                                <img  src="~/Areas/KhachHang/assets/images/icon/silver.png" />
                                            </div>
                                        }
                                        else if (Model.DiemTichLuy <= 700)
                                        {
                                            <div class="row">
                                                <p class="small mb-1"><strong> Khách hàng hạng vàng </strong> </p>
                                                <img src="~/Areas/KhachHang/assets/images/icon/gold.png" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <p class="small mb-1"><strong> Khách hàng VIP </strong> </p>
                                                <img src="~/Areas/KhachHang/assets/images/icon/platinum.png" />
                                            </div>
                                        }
                                    }
                                </div>

                            </div>

                            </div>

                            <!-- Form Group (email address)-->

                            <div>
                                @Html.ActionLink("Chỉnh sửa", "UserEdit", new { id = Model.numberPhone }, new { @class = "btn btn-primary" })

                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>


<style>

    .container-xl {
        background-color: #ffb2b280;
        padding-top: 15px;
        padding-bottom: 50px
    }

    .btn {
        float: right
    }
    /* CSS để điều chỉnh kích thước hình ảnh */
    .user-image img {
        max-width: 200px; /* Điều chỉnh chiều rộng tối đa của hình ảnh */
        max-height: 200px; /* Điều chỉnh chiều cao tối đa của hình ảnh */
        width: auto;
        height: auto;
        display: block;
        margin: 0 auto; /* Để căn giữa hình ảnh trong khung */
    }
</style>
