@model TMDT.Models.Product
@using TMDT.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
    TMDTThucAnNhanhEntities db = new TMDTThucAnNhanhEntities();
}

<div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 container">
    <div class="bg-white tm-block ">
        <div class="row">
            <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Thêm sản phẩm</h2>
            </div>
        </div>
        <div class="swiper-notification">
            @if (ViewBag.notification != null)
            {
                if ((bool)ViewBag.notification)
                {
                    <p class="bg-success">Thêm thành công</p>
                }
                else
                {
                    <p class="bg-danger">Thêm không thành công</p>
                }
            }
        </div>
        @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "tm-edit-product-form", enctype = "multipart/form-data" }))
        {
            <div class="row mt-4 tm-edit-product-row">
                <div class="col-xl-7 col-lg-7 col-md-12">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Tên sản phẩm</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Thành tiền</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">UP size</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.priceUp, new { htmlAttributes = new { @class = "form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" } })
                                @Html.ValidationMessageFor(model => model.priceUp, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Loại sản phẩm</label>
                            <div class="col-md-10">
                                <select class = "custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" name="typeID">
                                    <option>Select category</option>
                                    @foreach(var item in db.Category.ToList()){
                                        <option value="@item.typeID">@item.nameType</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.typeID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                    <div class="tm-product-img-dummy mx-auto">
                        <img src="#" id="myImage" class="rounded mx-auto d-block" alt="Alternate Text"
                             style="fill: #868e96; height: 200px; width:200px; object-fit:over" />
                    </div>
                    <div class="custom-file mt-3 mb-3">
                        <input type="file" name="HinhAnh" id="imageInput" style="" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#imageInput").change(function () {
                const file = this.files[0];
                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    $("#myImage").attr("src", reader.result);
                };
            });
        });
    </script>

}