@using TMDT.Models
@model Combo

@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutVL.cshtml";
    TMDTThucAnNhanhEntities db = new TMDTThucAnNhanhEntities();
    var detailpro = db.ComboDetail.FirstOrDefault(s => s.comboID == Model.comboID);
    var productID = db.Product.FirstOrDefault(s => s.cateID == detailpro.cateID);
    string formattedPrice = string.Format("{0:N0}", Model.price);
    string formattedPriceUp = string.Format("{0:N0}", Model.price + productID.priceUp);



}

<!DOCTYPE html>
<html lang="zxx">

<body>

    <!-- Product Details Area Start -->
    <div class="product-details-area pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide zoom-image-hover">
                                @if (Model.typeCombo == true)
                                {
                                    <img class="img-responsive m-auto" src="~/Areas/KhachHang/assets/images/product-image/@Model.image"
                                         alt="" style="width:270px;height:307px">
                                }
                                else
                                {
                                    <img class="img-responsive m-auto" src="~/Areas/KhachHang/assets/images/product-image/@productID.image"
                                         alt="" style="width:270px;height:307px">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-details-content quickview-content ml-25px">

                        <h2 style="color:black">@Model.nameCombo</h2>
                        
                        @if (Model.typeCombo == true)
                        {   <h2 style="color:black">@string.Format("{0:N0}", Model.price) đ</h2>
                            var lstComBo = db.ComboDetail.Where(s => s.comboID == Model.comboID);
                            foreach (var lst in lstComBo)
                            {
                                var proID = db.Product.FirstOrDefault(s => s.cateID == lst.cateID);
                                <p>@detailpro.quantity x @proID.name</p>
                            }

                        }
                        else
                        {
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="price" id="updatePrice" style="color:black">@string.Format("{0:N0}", Model.price) đ</li>
                                </ul>
                                <ul>
                                    <li class="price-up">
                                        <select id="sizeSelect">
                                            <option value="medium">Vừa</option>
                                            <option value="big">Lớn</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        }

                        <div class="pro-details-rating-wrap">
                            <div class="rating-product">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                            <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                        </div>
                        <div class="stock mt-30px">
                            <span class="avallabillty">
                                Availability: <span class="in-stock">
                                    <i class="fa fa-check"></i>In Stock
                                </span>
                            </span>
                        </div>

                        <div class="pro-details-quality">
                            <div class="cart-plus-minus">
                                <div class="dec qtybutton">-</div>
                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" id="quantityInput">
                                <div class="inc qtybutton">+</div>
                            </div>
                            <div class="pro-details-cart">
                                <button class="add-cart" data-comboid="@Model.comboID"
                                        @*href="@Url.Action("ThemSanPhamVaoGio","GioHang",new { cateID = Model.cateID })"*@>
                                    Thêm Sản Phẩm
                                </button>
                            </div>
                            <div class="pro-details-cart">
                                <button class="add-cart buy-button"> Buy It Now</button>
                            </div>
                            <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                            </div>
                        </div>
                        <div class="pro-details-categories-info pro-details-same-style d-flex">
                            <span>Categories: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="#">Handmade, </a>
                                </li>
                                <li>
                                    <a href="#">Furniture, </a>
                                </li>
                                <li>
                                    <a href="#">Decore</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pro-details-social-info pro-details-same-style d-flex">
                            <span>Share: </span>
                            <ul class="d-flex">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-img">
                            <a href="#"><img src="assets/images//icons/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@section Scripts{

    <script>
        $(document).ready(function () {
            $(".add-cart").click(function()
            {
                // Lấy phần tử select bằng ID
                var sizeSelect = document.getElementById('sizeSelect');

                // Kiểm tra xem giá trị đã được chọn chưa
                if (sizeSelect && sizeSelect.options.length > 0)
                    var selectedSize = sizeSelect.options[sizeSelect.selectedIndex].value;
                else selectedSize = "Combo";
                // Lấy giá trị được chọn trong select
                
                var comboID = $(this).data("comboid");
                var quantity = $("#quantityInput").val();
                var data = {
                    comboID: comboID,
                    soLuong: quantity,
                    size: selectedSize
                }
                $.ajax({
                    type: "POST",
                    /*url: "/GioHang/ThemSanPhamVaoGio?cateID=" + cateID*/// Thay thế "Controller" bằng tên thực tế của Controller
                    url: "/GioHang/ThemSanPhamVaoGio",
                    data: data,
                    success: function (data) {
                        Swal.fire({
                            position: 'top-middle',
                            icon: 'success',
                            title: 'Sản Phẩm Đã Thêm Thành Công',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    },
                    error: function () {
                        // Xử lý lỗi
                    }
                });
            })
        });

        var CartPlusMinus = $(".cart-plus-minus");
        CartPlusMinus.prepend('<div class="dec qtybutton">-</div>');
        CartPlusMinus.append('<div class="inc qtybutton">+</div>');
        $(".qtybutton").on("click", function () {
            var $button = $(this);
            var oldValue = $button.parent().find("input").val();
            if ($button.text() === "+") {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 1) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            $button.parent().find("input").val(newVal);
        });

        document.getElementById('sizeSelect').addEventListener('change', function () {
            var selectedSize = this.value;
            var priceElement = document.getElementById('updatePrice');

            if (selectedSize === 'medium') {
                priceElement.textContent = '@formattedPrice' + ' đ';
                console.log(@formattedPrice)
            }
            else if (selectedSize === 'big') {
                priceElement.textContent = '@formattedPriceUp' + ' đ';
                console.log(@formattedPriceUp)
            }
        });


    </script>


}




