@using TMDT.Models;
@model IEnumerable<Combo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutVL.cshtml";
    TMDTThucAnNhanhEntities db = new TMDTThucAnNhanhEntities();
}


@* Slide Trang Chủ *@
<!-- Hero/Intro Slider Start -->
<div class="section bg-color1 ptb-30px slider-banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                    <!-- Hero slider Active -->
                    <div class="swiper-wrapper">
                        <!-- Single slider item --> 
                        <div class="hero-slide-item slider-height-2 swiper-slide d-flex"
                             data-bg-image="/Areas/KhachHang/assets/images/slider-image/Hamburger-Day.png">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1 slider-animated-2 text-start align-self-center pl-80px">
                                <span class="category">-20% Off</span>
                                <h2 class="title-1">Hamburger <br> ChuChu</h2>
                                <a href="shop-left-sidebar.html" class="btn btn-primary text-uppercase">Order Now</a>
                            </div>
                        </div>
                        <!-- Single slider item -->
                        <div class="hero-slide-item slider-height-2 swiper-slide d-flex"
                             data-bg-image="/Areas/KhachHang/assets/images/slider-image/Chicken-Day.png">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1 slider-animated-2 text-start align-self-center pl-80px">
                                <span class="category">-20% Off</span>
                                <h2 class="title-1">Chicken <br> ChuChu</h2>
                                <a href="shop-left-sidebar.html" class="btn btn-primary text-uppercase">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 responsive-flex">
                <div class="single-banner">
                    <img src="~/Areas/KhachHang/assets/images/banner/BannerBur.png" alt="">
                    <div class="banner-content">
                        <span class="category">Best Seller</span>
                        <span class="title" style="color:white">
                            Burger
                            <br> & Cheese
                        </span>
                        <a href="shop-left-sidebar.html" class="shop-link btn btn-primary text-uppercase">
                            Order
                            Now
                        </a>
                    </div>
                </div>
                <div class="single-banner mt-25px">
                    <img src="~/Areas/KhachHang/assets/images/banner/BannerPasta.png" alt="">
                    <div class="banner-content">
                        <span class="category">Best Seller</span>
                        <span class="title" style="color:white">
                            Pasta
                        </span>
                        <a href="shop-left-sidebar.html" class="shop-link btn btn-primary text-uppercase">
                            Order
                            Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hero/Intro Slider End -->
@* 3 thanh trong đó có freeship :D *@
<!-- Feature Area Srart -->
<div class="feature-area pt-100px">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="assets/images/icons/1.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at $39 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col ">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="assets/images/icons/2.png" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->
@* Best Product *@
<!-- Product Area Start -->
<div class="product-area pt-100px">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-12">
                <div class="section-title text-center mb-60px">
                    <h2 class="title">Thực Đơn</h2>
                    <p>
                        Thực đơn của website fast food đa dạng và hấp dẫn, với các món
                        ăn nhanh được chế biến ngon mắt và thơm ngon. Từ bữa sáng sáng tạo đến bữa tối thỏa mãn,
                        chúng tôi cung cấp sự lựa chọn phong phú cho tất cả các thực khách yêu thích đồ ăn nhanh.
                    </p>
                </div>
                <!-- Tab Start -->
                @* Danh mục sản phẩm *@
                @Html.Action("LayProductType", "Home")

                <!-- Tab End -->
            </div>
            <!-- Section Title End -->

        </div>
        <!-- Section Title & Tab End -->
        @* SẢN PHẨM *@
        <div class="row">
            <div class="col">
                <div class="tab-content mt-60px">
                    <div class="tab-pane fade show active" id="tab-fabric-2">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                var detailItem = db.ComboDetail.FirstOrDefault(s => s.comboID == item.comboID);
                                var productItem = db.Product.FirstOrDefault(s => s.cateID == detailItem.cateID);
                                var size = detailItem.sizeUP;

                                if (size == false && item.typeCombo == false)
                                {
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="@Url.Action("ChiTietSP", "Home", new { id = item.comboID })" class="image">
                                                    <img style="width:270px; height: 300px ; object-fit: contain" src="@productItem.image" alt="Product" />
                                                    <img style="width: 270px; height: 300px; object-fit: contain" class="hover-image" src="@productItem.image"
                                                         alt="Product" />
                                                </a>
                                                <span class="badges">
                                                    <span class="new">New</span>
                                                </span>
                                                <div class="actions">
                                                    <a href="wishlist.html" class="action wishlist" title="Wishlist">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a href="#" class="action quickview" data-link-action="quickview"
                                                       title="Quick view" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                    <a href="compare.html" class="action compare" title="Compare">
                                                        <i class="pe-7s-refresh-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="ratings">
                                                    <span class="rating-wrap">
                                                        <span class="star" style="width: 100%"></span>
                                                    </span>
                                                    <span class="rating-num">( 5 Review )</span>
                                                </span>
                                                <h5 class="title">
                                                    <a href="single-product.html">
                                                        @item.nameCombo
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    <span class="new">@string.Format("{0:N0}", item.price) đ</span>
                                                </span>
                                            </div>
                                            <button title="Add To Cart" class="add-to-cart" data-comboid="@item.comboID" data-type="@item.typeCombo">
                                                Thêm Sản Phẩm
                                            </button>
                                        </div>
                                    </div>
                                }
                                else if (item.typeCombo == true)
                                {
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="@Url.Action("ChiTietSP", "Home", new { id = item.comboID })" class="image">
                                                    <img style="width: 270px; height: 300px; object-fit: contain" src="@item.image" alt="Product" />
                                                    <img style="width: 270px; height: 300px; object-fit: contain" class="hover-image" src="@item.image"
                                                         alt="Product" />
                                                </a>
                                                <span class="badges">
                                                    <span class="new">New</span>
                                                </span>
                                                <div class="actions">
                                                    <a href="wishlist.html" class="action wishlist" title="Wishlist">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a href="#" class="action quickview" data-link-action="quickview"
                                                       title="Quick view" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                                    <a href="compare.html" class="action compare" title="Compare">
                                                        <i class="pe-7s-refresh-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="ratings">
                                                    <span class="rating-wrap">
                                                        <span class="star" style="width: 100%"></span>
                                                    </span>
                                                    <span class="rating-num">( 5 Review )</span>
                                                </span>
                                                <h5 class="title">
                                                    <a href="single-product.html">
                                                        @item.nameCombo
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    <span class="new">@string.Format("{0:N0}", item.price) đ</span>
                                                </span>
                                            </div>
                                            <button title="Add To Cart" class="add-to-cart" data-comboid="@item.comboID" data-type="@item.typeCombo">
                                                Thêm Sản Phẩm
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->

@section Scripts{

    <script>
        $(document).ready(function () {
            $(".add-to-cart").click(function()
            {
               
                var comboID = $(this).data("comboid");
                var typeCombo = $(this).data("type");
                console.log(typeCombo);
                if (typeCombo == true) {
                    size = "Combo";
                }
                else {
                    size = "medium";
                }
                var data = {
                    comboID: comboID,
                    soLuong: 1,
                    size: size
                }
                $.ajax({
                    type: "POST",
                    /*url: "/GioHang/ThemSanPhamVaoGio?cateID=" + cateID*/// Thay thế "Controller" bằng tên thực tế của Controller
                    url: "/GioHang/ThemSanPhamVaoGio",
                    data: data,
                    success: function (data) {
                        Swal.fire({
                            position: 'top-middle',
                            icon: 'success',
                            title: 'Sản Phẩm Đã Thêm Thành Công',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    },
                    error: function () {
                        // Xử lý lỗi
                    }
                });
            })
        });

    </script>


}