@model IEnumerable<TMDT.Models.Ingredient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantityMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.nameU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.nameU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ingID })
        </td>
    </tr>
}

</table>
